<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <meta name="description" content="">
  <meta name="keyword" content="">
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name"  content="">
  <meta property="og:description" content="">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>

  <% -include('./common/_header'); %>
  
  <h1>EJS SASS Gulp Starter</h1>

  <% -include('./common/_footer'); %>
  
  <% -include('./module/_script'); %>
  
  
</body>
</html>